@import './nord.css';

body {
  background-color: var(--nord4);
  color: var(--nord3);
}
h1, h2{
  color: var(--nord0);
}
h3, h4{
  color: var(--nord2);
}
h5, h6{
  color: var(--nord3);
  opacity: 0.9;
}
a{
  color: var(--nord10);
  text-decoration: none;
}
blockquote{
  border-left: 2px solid var(--nord9);
  margin: 0;
  padding: 1rem;
  padding-left: 2rem;
  background-color: var(--nord4);
}
blockquote *:first-child{margin-top: 0;}
blockquote *:last-child{margin-bottom: 0;}

img{
  max-width: 100%;
  box-shadow: 1px 1px 5px rgb(0 0 0 / 30%);
}

.paper{
  background-color: var(--nord6);
  /* border-radius: 0.5rem; */
}

.App{
  display: flex;
}
.container{
  box-sizing: border-box;
  width: calc(100% - 200px);
  margin-left: 200px;
  padding: 1rem 2rem;
  min-height: 100vh;
}
.md-wrapper{
  max-width: 960px;
}
.sidebar{
  background-color: var(--nord0);
  width: 200px;
  position: fixed;
  height: 100%;
}
.sidebar ul{
  padding: 0;
}
.sidebar ul li{
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.sidebar ul li.selected{
  background-color: var(--nord10);
}
.sidebar ul li a{
  color: var(--nord6);
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .App{
  }
}
@media screen and (max-width: 700px) {
  .App{
  }
}

.code-box{
  background-color: var(--nord0);
  overflow: hidden;
  border-radius: 0.5rem;
}
.code-box pre{
  margin: 0;
}