@import './nord.css';

body {
  background-color: var(--nord4);
  color: var(--nord3);
}
h1, h2{
  color: var(--nord0);
}
h3, h4{
  color: var(--nord2);
}
h5, h6{
  color: var(--nord3);
  opacity: 0.9;
}
a{
  color: var(--nord10);
  text-decoration: none;
}
blockquote{
  border-left: 2px solid var(--nord9);
  margin: 0;
  padding: 1rem;
  padding-left: 2rem;
  background-color: var(--nord4);
}
blockquote *:first-child{margin-top: 0;}
blockquote *:last-child{margin-bottom: 0;}
.paper{
  background-color: var(--nord6);
  border-radius: 0.5rem;
}

.App{
  padding: 1rem 3rem  2rem;
  max-width: 960px;
  margin: 1rem auto;
}

@media screen and (max-width: 1024px) {
  .App{
    margin: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .App{
    padding: 1rem 2rem 2rem;
  }
}

.code-box{
  background-color: var(--nord0);
  overflow: hidden;
  border-radius: 0.5rem;
}
